body {
  margin: 0;
  background-color: yellowgreen;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.text-align {
  text-align: center;
}
.justify-content {
  justify-content: space-between;
}
button {
  background-color: rgb(25, 27, 25);
  color: white;
  cursor: pointer;
}
button:hover {
  color: orange;
}
.del:hover {
  color: red;
  cursor: pointer;
}
.text {
  font-weight: 200;
  font-size: large;
  text-decoration: underline;
  color: rgb(13, 95, 54);
}
.form {
  border-radius: 5px;
  background-color: rgb(202, 230, 48);
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input {
  width: 70%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list {
  background-color: rgb(202, 230, 48);
  color: black;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 90;
  margin-top: 10px;
}
